<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.angongye.mapper.DeptMapper">
<!--
  namespace="com.angongye.mapper.DeptMapper"  命名空间与 包.接口 一致

  select 用于写查询语句的标签，id 保证唯一，
 在对应的接口中创建一个函数，函数名与 id对应的值一致，返回类型与resultType 一致，
  -->
    <select id="getDeptAll" resultType="Dept">
        select * from t_dept
    </select>

<!--    parameterType="int" 参数类型，
使用占位符的方式给出结果
#{占位名}
基本类型：id
String: value
map: key
对象：属性名
-->

<!--  等值查询  -->
    <select id="getDeptById" parameterType="int" resultType="Dept">
        select * from t_dept where dept_id=#{id}
    </select>
    <select id="getDeptByNo" parameterType="string" resultType="Dept">
        select * from t_dept where dept_no=#{value}
    </select>

    <select id="getDeptByCondition" parameterType="hashmap" resultType="Dept">
        select * from t_dept where dept_no=#{no} and dept_id=#{myId}
    </select>

    <select id="getDeptByObj" parameterType="Dept" resultType="Dept">
        select * from t_dept where dept_no=#{deptNo}
    </select>
<!--  非等值查询
 如果查询语句中有大于号，小于号，使用转义字符
 大于 &gt;
 小于 &lt;
 -->
    <select id="getDeptGreateThanId" parameterType="int" resultType="Dept">
        select * from t_dept where dept_id &gt;= #{id}
    </select>

    <select id="getDeptLessThanId" parameterType="int" resultType="Dept">
        select * from t_dept where dept_id &lt;= #{id}
    </select>
<!--  模糊  以dept开头的部门 -->
    <select id="getDeptByName2" parameterType="String" resultType="Dept">
        select * from t_dept where dept_no like concat(#{value},'%')
    </select>

    <insert id="saveDept" parameterType="Dept">
        insert into t_dept values(null,#{deptNo},#{deptName},#{deptPid},#{deptUser},#{deptAddress})
    </insert>
<!--
添加成功后，会自动返回自增列的值
useGeneratedKeys="true"  开启返回自动增长列
keyProperty="deptId"   返回的值填充到类的哪个属性上
keyColumn="dept_id"    读取哪一个列的值

 -->
    <insert id="saveDeptAndId" parameterType="Dept" useGeneratedKeys="true" keyProperty="deptId" keyColumn="dept_id">
        insert into t_dept values(null,#{deptNo},#{deptName},#{deptPid},#{deptUser},#{deptAddress})
    </insert>

    <update id="updateById" parameterType="Dept">
        update t_dept set dept_name=#{deptName},dept_user=#{deptUser} where dept_id=#{deptId}
    </update>

    <delete id="deleteById" parameterType="int">
        delete from t_dept where dept_id=#{id}
    </delete>

    <update id="updateById2" parameterType="Dept">
        update t_dept set dept_name=#{deptName},dept_user=#{deptUser},dept_no=#{deptNo},dept_pid=#{deptPid},dept_address=#{deptAddress} where dept_id=#{deptId}
    </update>
<!--
修改前，确认部门编号唯一
查询部门编号与传入的编号相同的部门信息（除去自身），如果有说明部门编号重复，如果没有，部门编号唯一
-->

    <select id="getDeptNoUnique" parameterType="Dept" resultType="Dept">
        select * from t_dept where dept_id !=#{deptId} and dept_no=#{deptNo}
    </select>
</mapper>