<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.angongye.mapper.LoginMapper">
    <select id="getLoginByName" parameterType="string" resultType="Login">
        select * from t_login where login_name=#{value}
    </select>


    <update id="updateStatusAndErrorById" parameterType="Login">
        update t_login set login_status=#{loginStatus},login_error=#{loginError}  where login_id=#{loginId}
    </update>

    <insert id="saveBackId" useGeneratedKeys="true" keyColumn="login_id" keyProperty="loginId" parameterType="Login">
        insert into t_login values (null,#{loginName},#{loginPwd},#{loginSalt},#{loginIndex},0,0)

    </insert>
</mapper>